{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS PROTETORES</title>
    <link rel="shortcut icon" href="{% static 'assets/sosprotetores.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/mystyle.css' %}">
 
</head>
<body class="main_bg">
    <aside class="menu">
        <section class="main_content menu_content">
            <h1><img src="{% static 'assets/Sos protetores1.jpeg' %}" alt="logo"></h1>
            <span>SOS PROTETORES</span>
            <nav>
                <ul>
                    <li><a href="#"><img src="{% static 'assets/instagram.png' %}" alt="instagram"></a></li>
                    <li><a href="#"><img src="{% static 'assets/facebook.png' %}" alt="facebook"></a></li>
                    <li><a href="#"><img src="{% static 'assets/whatsapp.png' %}" alt="whatsapp"></a></li>
                </ul>
            </nav>
        </section>
    </aside>
    <main class="main_content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <section class="white_block"><h2>SOBRE NÓS</h2>
            <article>
                <div><h3>QUEM SOMOS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium quam veniam minus ullam quas placeat, est porro nulla unde qui sunt eligendi in incidunt distinctio labore quo soluta hic!</p></div>
            </article>
            <article>
                <div><h3>QUEM SOMOS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium quam veniam minus ullam quas placeat, est porro nulla unde qui sunt eligendi in incidunt distinctio labore quo soluta hic!</p></div>
            </article>
            <article>
                <div><h3>QUEM SOMOS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium quam veniam minus ullam quas placeat, est porro nulla unde qui sunt eligendi in incidunt distinctio labore quo soluta hic!</p></div>
            </article>
            <article>
                <div><h3>QUEM SOMOS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium quam veniam minus ullam quas placeat, est porro nulla unde qui sunt eligendi in incidunt distinctio labore quo soluta hic!</p></div>
            </article>
            <article>
                <div><h3>QUEM SOMOS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium quam veniam minus ullam quas placeat, est porro nulla unde qui sunt eligendi in incidunt distinctio labore quo soluta hic!</p></div>
            </article>
        </section>
        <section class="white_block">
            <h2>ÁREA DE ADOÇÃO</h2>
            
            <article class="animais">
                <div>
                    <img src="{% static 'assets/gato.jpg' %}" alt="gato">
                    <ul>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                    </ul>
                </div>
            </article>
            <article class="animais">
                <div>
                    <img src="{% static 'assets/gato.jpg' %}" alt="gato">
                    <ul>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                    </ul>
                </div>
            </article>
            <article class="animais">
                <div>
                    <img src="{% static 'assets/gato.jpg' %}" alt="gato">
                    <ul>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                    </ul>
                </div>
            </article>
            <article class="animais">
                <div>
                    <img src="{% static 'assets/gato.jpg' %}" alt="gato">
                    <ul>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                    </ul>
                </div>
            </article>
            <article class="animais">
                <div>
                    <img src="{% static 'assets/gato.jpg' %}" alt="gato">
                    <ul>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                    </ul>
                </div>
            </article>
            <article class="animais">
                <div>
                    <img src="{% static 'assets/gato.jpg' %}" alt="gato">
                    <ul>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                        <li>Traços</li>
                    </ul>
                </div>
            </article>
        </section>
    </main>
    <footer class="white_bg">
        <h2>PROJETO INTEGRADOR</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, debitis? Laboriosam nisi harum eius iusto nobis cumque assumenda eveniet quisquam accusamus sint quaerat illo, dolore, ut culpa soluta itaque reprehenderit?</p>

    </footer>
</body>
</html> 